- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
- else
  No restaurants yet!

%a(href= new_restaurant_path ) Add a restaurant
