%p= @restaurant.name
%p= @restaurant.description

- if @restaurant.reviews.any?
  %ul
    - @restaurant.reviews.each do |review|
      %li
        = review.thoughts
        %strong= review.rating
        \/5
- else
  %p No reviews
